.controle-os {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #3b5998;
}
.input-list {
  width:95%;
  float: left;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.valor {
  text-align: right;
}

.red {
  color: red;
  font-weight: bold;
}

.button-list {
  float:left;
  height: 34px;
  width: 5%;
}

.button-list i {
  margin-top: -5px;
}

.group-list {
  max-height: 411px;
  overflow: auto;
  float: left;
  width: 95%;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  top:59px;
  position:absolute;
  z-index:10;
}

.item-list {
  cursor: pointer;
}

.item-list:hover {
  background: #f5f5f5;
}

.item-list:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cobranca {
  margin-bottom:20px;
}

.cobranca-numero {
  font-size:22px;
  color: #3b5998;
  font-weight: bold;
}

.cobranca-pago {
  color: green;
  font-weight: bold;
}

.cobranca-debito {
  color: red;
  font-weight: bold;
}

.cobranca-total {
  color: #3b5998;
  font-weight: bold;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar {
  margin-top:20px;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.table {
  font-size: 14px;
}

.table-andamento {
  margin-bottom: -1px;
}

.table-andamento th {
  width: 102px;
}

/* PRIME NG */

.ui-inputtext {
  padding: 6px 12px;
}

.ui-autocomplete {
  width: 100% !important;
}

/* ENTRADA */
.entrada-numero-os {
  text-align: right;
}

.radio-inline.no_indent,
.radio-inline.no_indent+.radio-inline.no_indent {
  margin-left: 0;
  margin-right: 10px;
}
.radio-inline.no_indent:last-child {
  margin-right: 0;
}

.checkboxgroup {
  overflow:auto;
}

.checkboxgroup div {
  width: 87px;
  float: left;
}

.checkboxgroup label {
  font-weight: normal;
  cursor: pointer;
}

textarea {
  resize: none;
}

.andamento {
  text-align: center;
}

.andamento span {
  font-weight: 600;
  font-size: 16px;
}
