  <div class="col-md-2">
    <label for="avaliada">Orçamentos ({{ avaliadas.length }})</label>
    <select [(ngModel)]="ordem" class="form-control" id="avaliada" (ngModelChange)="onOrdemChange(ordem)">
      <option *ngFor="let avaliada of avaliadas" [ngValue]="avaliada">
        {{ showOrdem(avaliada) }}
      </option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="aberta">Abertas ({{ abertas.length }})</label>
    <select [(ngModel)]="ordem" class="form-control" id="aberta" (ngModelChange)="onOrdemChange(ordem)">
      <option *ngFor="let aberta of abertas" [ngValue]="aberta">
        {{ showOrdem(aberta) }}
      </option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="aprovada">Aprovadas ({{ aprovadas.length }})</label>
    <select [(ngModel)]="ordem" class="form-control" id="aprovada" (ngModelChange)="onOrdemChange(ordem)">
      <option *ngFor="let aprovada of aprovadas" [ngValue]="aprovada">
        {{ showOrdem(aprovada) }}
      </option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="reprovada">Reprovadas ({{ reprovadas.length }})</label>
    <select [(ngModel)]="ordem" class="form-control" id="reprovada" (ngModelChange)="onOrdemChange(ordem)">
      <option *ngFor="let reprovada of reprovadas" [ngValue]="reprovada">
        {{ showOrdem(reprovada) }}
      </option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="garantia">Garantias ({{ garantias.length }})</label>
    <select [(ngModel)]="ordem" class="form-control" id="garantia" (ngModelChange)="onOrdemChange(ordem)">
      <option *ngFor="let garantia of garantias" [ngValue]="garantia">
        {{ showOrdem(garantia) }}
      </option>
    </select>
  </div>